# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load CSV from Part One
weather_data = pd.read_csv("../output_data/weather.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Bluff,47,NZ,1587183832,58,-46.60,168.33,57.99,5.99
1,Lajas,22,PR,1587184129,96,18.05,-67.06,75.00,7.81
2,Port Lincoln,39,AU,1587183627,60,-34.73,135.87,65.41,12.44
3,Clyde River,90,CA,1587183646,85,70.47,-68.59,10.40,16.11
4,Abbeville,100,FR,1587184129,87,50.10,1.83,54.00,3.36
...,...,...,...,...,...,...,...,...,...
564,Marzuq,74,YE,1587184252,34,14.40,46.47,79.65,7.07
565,Venezuela,21,VE,1587184252,55,8.00,-66.00,83.53,17.98
566,Aplahoué,62,BJ,1587184253,86,6.93,1.68,78.15,6.40
567,Harwich,91,GB,1587184253,88,51.94,1.28,46.00,3.00
568,Guadalupe y Calvo,6,MX,1587184253,23,26.10,-106.97,46.00,3.74

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Set Location and Humidty for Heat Map
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"].astype(float)

In [5]:
# Set MAx Intensity
max_intensity = weather_data["Humidity"].max()

In [6]:
# Plot Heatmap
fig = gmaps.figure(center=(25,0), zoom_level=1.75)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_intensity)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Drill DataFrame by Temperature
ideal_temp = weather_data[weather_data["Max Temp"] > 70]
ideal_temp = ideal_temp[ideal_temp["Max Temp"] < 80]
ideal_temp

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,Lajas,22,PR,1587184129,96,18.05,-67.06,75.00,7.81
22,Kapaa,1,US,1587183550,69,22.08,-159.32,78.80,10.29
27,San Patricio,100,MX,1587183584,61,19.22,-104.70,75.92,8.93
28,Tadine,36,NC,1587184135,60,-21.55,167.88,78.69,9.44
33,Saint-Philippe,38,RE,1587184136,65,-21.36,55.77,77.00,5.82
...,...,...,...,...,...,...,...,...,...
551,Morros,97,BR,1587184250,79,-9.45,-46.30,72.25,2.44
552,Nzérékoré,100,GN,1587184250,82,7.76,-8.82,74.01,3.18
558,Urucará,63,BR,1587183938,96,-2.54,-57.76,74.07,2.04
564,Marzuq,74,YE,1587184252,34,14.40,46.47,79.65,7.07
566,Aplahoué,62,BJ,1587184253,86,6.93,1.68,78.15,6.40

In [8]:
# Drill DataFrame by Windiness
ideal_wind = ideal_temp[ideal_temp["Wind Speed"] < 10]
ideal_wind

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,Lajas,22,PR,1587184129,96,18.05,-67.06,75.00,7.81
27,San Patricio,100,MX,1587183584,61,19.22,-104.70,75.92,8.93
28,Tadine,36,NC,1587184135,60,-21.55,167.88,78.69,9.44
33,Saint-Philippe,38,RE,1587184136,65,-21.36,55.77,77.00,5.82
41,San Juan de los Morros,48,VE,1587184137,61,9.91,-67.35,74.75,3.91
...,...,...,...,...,...,...,...,...,...
551,Morros,97,BR,1587184250,79,-9.45,-46.30,72.25,2.44
552,Nzérékoré,100,GN,1587184250,82,7.76,-8.82,74.01,3.18
558,Urucará,63,BR,1587183938,96,-2.54,-57.76,74.07,2.04
564,Marzuq,74,YE,1587184252,34,14.40,46.47,79.65,7.07
566,Aplahoué,62,BJ,1587184253,86,6.93,1.68,78.15,6.40

In [9]:
# Drill DataFrame by Cloud Coverage
ideal_destination = ideal_wind[ideal_wind["Cloudiness"] == 0]
ideal_destination

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
100,Saint-Leu,0,RE,1587183928,65,-21.15,55.28,77.0,5.82
235,Saint-Pierre,0,RE,1587183909,65,-21.34,55.48,77.0,5.82
329,Flinders,0,AU,1587183835,45,-34.58,150.86,75.0,4.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# Copy New DataFrame
hotel_df = ideal_destination.copy()

# Reset and Drop Index
hotel_df = hotel_df.reset_index()
del hotel_df["index"]

# Add Hotel Name Column
hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Saint-Leu,0,RE,1587183928,65,-21.15,55.28,77.0,5.82,
1,Saint-Pierre,0,RE,1587183909,65,-21.34,55.48,77.0,5.82,
2,Flinders,0,AU,1587183835,45,-34.58,150.86,75.0,4.00,

In [11]:
# Create variables to clean up loop
lat = hotel_df["Lat"]
long = hotel_df["Lng"]
range_x = len(hotel_df)

In [12]:
# Create For Loop to find Hotels Nearby 
for x in range(range_x):
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": f"{lat[x]},{long[x]}", 
        "radius": 5000,
        "type": "lodging",
        "keyword": "Hotel",
        "key": g_key,
    }
    response = requests.get(base_url, params=params).json()
    
    try:
        # extract results
        results = response["results"][0]["name"]
        print(f"The closest hotel is {results}.")
        hotel_df.loc[hotel_df["City"] == hotel_df["City"][x], "Hotel Name"] = results        
    except (IndexError):
        print("No lodging options within 5000 meters... skipping.")
    print("----------")

The closest hotel is Blue Margouillat.
----------
The closest hotel is LODGE PALMAE.
----------
The closest hotel is Shellharbour Resort & Conference Centre.
----------

In [13]:
# Drop all rows without lodging options
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

# Drop and Reset Index
hotel_df = hotel_df.reset_index()
del hotel_df["index"]

In [14]:
# Display new DataFrame
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Saint-Leu,0,RE,1587183928,65,-21.15,55.28,77.0,5.82,Blue Margouillat
1,Saint-Pierre,0,RE,1587183909,65,-21.34,55.48,77.0,5.82,LODGE PALMAE
2,Flinders,0,AU,1587183835,45,-34.58,150.86,75.0,4.00,Shellharbour Resort & Conference Centre

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))