# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load CSV from Part One
weather_data = pd.read_csv("../output_data/weather.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Rock Springs,1,US,1587154171,55,41.59,-109.20,33.80,13.87
1,Rikitea,1,PF,1587154171,65,-23.12,-134.97,77.18,2.51
2,Kruisfontein,90,ZA,1587154172,83,-34.00,24.73,59.94,3.96
3,Albany,100,US,1587154172,21,42.60,-73.97,50.00,4.00
4,Dawlatabad,0,AF,1587154172,36,36.41,64.91,59.52,2.48
...,...,...,...,...,...,...,...,...,...
562,Barrhead,90,GB,1587154280,70,55.80,-4.39,46.40,14.99
563,Nicolás Bravo,40,MX,1587154280,59,18.45,-88.92,89.60,23.04
564,Atambua,34,ID,1587154280,82,-9.11,124.89,75.04,4.63
565,Bud,90,US,1587154280,93,39.45,-86.18,48.20,9.17
566,Bowen,90,AU,1587154280,94,-20.02,148.23,75.00,1.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Set Location and Humidty for Heat Map
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"].astype(float)

In [5]:
# Set MAx Intensity
max_intensity = weather_data["Humidity"].max()

In [6]:
# Plot Heatmap
fig = gmaps.figure(center=(25,0), zoom_level=1.75)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_intensity)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Drill DataFrame by Temperature
ideal_temp = weather_data[weather_data["Max Temp"] > 70]
ideal_temp = ideal_temp[ideal_temp["Max Temp"] < 80]
ideal_temp

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,Rikitea,1,PF,1587154171,65,-23.12,-134.97,77.18,2.51
5,Vao,27,NC,1587153967,70,-22.67,167.48,74.61,7.63
8,Arraial do Cabo,75,BR,1587154172,78,-22.97,-42.03,73.40,9.17
14,Mossamedes,29,AO,1587154173,64,-15.20,12.15,74.21,4.52
20,Galveston,90,US,1587154175,78,29.37,-94.97,79.00,11.41
...,...,...,...,...,...,...,...,...,...
545,Poum,100,NC,1587154276,76,-20.23,164.02,78.55,10.58
549,Bambanglipuro,32,ID,1587154277,78,-7.95,110.28,77.63,3.24
558,Hukuntsi,0,BW,1587154279,22,-24.00,21.75,73.18,10.22
564,Atambua,34,ID,1587154280,82,-9.11,124.89,75.04,4.63
566,Bowen,90,AU,1587154280,94,-20.02,148.23,75.00,1.12

In [8]:
# Drill DataFrame by Windiness
ideal_wind = ideal_temp[ideal_temp["Wind Speed"] < 10]
ideal_wind

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,Rikitea,1,PF,1587154171,65,-23.12,-134.97,77.18,2.51
5,Vao,27,NC,1587153967,70,-22.67,167.48,74.61,7.63
8,Arraial do Cabo,75,BR,1587154172,78,-22.97,-42.03,73.40,9.17
14,Mossamedes,29,AO,1587154173,64,-15.20,12.15,74.21,4.52
35,Vaini,20,TO,1587154177,83,-21.20,-175.20,75.20,6.93
...,...,...,...,...,...,...,...,...,...
535,Kurunegala,57,LK,1587154275,86,7.49,80.36,75.18,1.74
540,Meulaboh,100,ID,1587154276,82,4.14,96.13,78.82,5.26
549,Bambanglipuro,32,ID,1587154277,78,-7.95,110.28,77.63,3.24
564,Atambua,34,ID,1587154280,82,-9.11,124.89,75.04,4.63
566,Bowen,90,AU,1587154280,94,-20.02,148.23,75.00,1.12

In [9]:
# Drill DataFrame by Cloud Coverage
ideal_destination = ideal_wind[ideal_wind["Cloudiness"] == 0]
ideal_destination

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
190,Presidencia Roque Sáenz Peña,0,AR,1587154205,36,-26.79,-60.44,73.42,3.33
213,Beloha,0,MG,1587154209,67,-25.17,45.05,73.20,3.22
225,Quelimane,0,MZ,1587154212,84,-17.88,36.89,77.09,4.45
255,Santiago del Estero,0,AR,1587154218,39,-27.80,-64.26,79.34,7.38
286,Pasni,0,PK,1587154226,70,25.26,63.47,78.76,6.80
291,Santa Rosalía,0,MX,1587154227,24,27.32,-112.28,78.71,3.60
334,Portland,0,US,1587154193,34,45.52,-122.68,72.00,1.01
412,Kaduqli,0,SD,1587154251,12,11.02,29.72,79.57,6.76
427,Vallenar,0,CL,1587154255,28,-28.57,-70.76,79.74,7.47
434,Morondava,0,MG,1587154256,81,-20.28,44.28,78.42,8.52

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# Copy New DataFrame
hotel_df = ideal_destination.copy()

# Reset and Drop Index
hotel_df = hotel_df.reset_index()
del hotel_df["index"]

# Add Hotel Name Column
hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Presidencia Roque Sáenz Peña,0,AR,1587154205,36,-26.79,-60.44,73.42,3.33,
1,Beloha,0,MG,1587154209,67,-25.17,45.05,73.20,3.22,
2,Quelimane,0,MZ,1587154212,84,-17.88,36.89,77.09,4.45,
3,Santiago del Estero,0,AR,1587154218,39,-27.80,-64.26,79.34,7.38,
4,Pasni,0,PK,1587154226,70,25.26,63.47,78.76,6.80,
5,Santa Rosalía,0,MX,1587154227,24,27.32,-112.28,78.71,3.60,
6,Portland,0,US,1587154193,34,45.52,-122.68,72.00,1.01,
7,Kaduqli,0,SD,1587154251,12,11.02,29.72,79.57,6.76,
8,Vallenar,0,CL,1587154255,28,-28.57,-70.76,79.74,7.47,
9,Morondava,0,MG,1587154256,81,-20.28,44.28,78.42,8.52,

In [11]:
# Create variables to clean up loop
lat = hotel_df["Lat"]
long = hotel_df["Lng"]
range_x = len(hotel_df)

In [12]:
# Create For Loop to find Hotels Nearby 
for x in range(range_x):
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": f"{lat[x]},{long[x]}", 
        "radius": 5000,
        "type": "lodging",
        "keyword": "Hotel",
        "key": g_key,
    }
    response = requests.get(base_url, params=params).json()
    
    try:
        # extract results
        results = response["results"][0]["name"]
        print(f"The closest hotel is {results}.")
        hotel_df.loc[hotel_df["City"] == hotel_df["City"][x], "Hotel Name"] = results        
    except (IndexError):
        print("No lodging options within 5000 meters... skipping.")
    print("----------")

The closest hotel is Hotel Gualok.
----------
No lodging options within 5000 meters... skipping.
----------
The closest hotel is Liduina Guest House.
----------
The closest hotel is Hotel Coventry.
----------
The closest hotel is 3G hotel pasni.
----------
The closest hotel is Hotel Las Casitas Santa Rosalia.
----------
The closest hotel is River's Edge Hotel.
----------
No lodging options within 5000 meters... skipping.
----------
The closest hotel is Hotel Solaris.
----------
The closest hotel is Palissandre Cote Ouest resort & SPA.
----------

In [13]:
# Drop all rows without lodging options
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

# Drop and Reset Index
hotel_df = hotel_df.reset_index()
del hotel_df["index"]

In [14]:
# Display new DataFrame
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Presidencia Roque Sáenz Peña,0,AR,1587154205,36,-26.79,-60.44,73.42,3.33,Hotel Gualok
1,Quelimane,0,MZ,1587154212,84,-17.88,36.89,77.09,4.45,Liduina Guest House
2,Santiago del Estero,0,AR,1587154218,39,-27.80,-64.26,79.34,7.38,Hotel Coventry
3,Pasni,0,PK,1587154226,70,25.26,63.47,78.76,6.80,3G hotel pasni
4,Santa Rosalía,0,MX,1587154227,24,27.32,-112.28,78.71,3.60,Hotel Las Casitas Santa Rosalia
5,Portland,0,US,1587154193,34,45.52,-122.68,72.00,1.01,River's Edge Hotel
6,Vallenar,0,CL,1587154255,28,-28.57,-70.76,79.74,7.47,Hotel Solaris
7,Morondava,0,MG,1587154256,81,-20.28,44.28,78.42,8.52,Palissandre Cote Ouest resort & SPA

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))