# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../output_data/weather.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Qaanaaq,78,GL,1587065368,84,77.48,-69.36,16.29,3.18
1,Ushuaia,99,AR,1587065183,58,-54.80,-68.30,57.20,12.75
2,Kangaatsiaq,88,GL,1587065368,94,68.31,-53.46,31.69,13.24
3,Marsh Harbour,60,BS,1587065369,74,26.54,-77.06,81.30,12.48
4,Hilo,90,US,1587065369,78,19.73,-155.09,73.99,6.93
...,...,...,...,...,...,...,...,...,...
548,Tawang Town,82,IN,1587065546,33,27.58,91.87,43.30,2.15
549,Turaif,75,SA,1587065547,52,31.67,38.66,64.40,9.17
550,Fort Nelson,75,CA,1587065547,28,58.81,-122.70,57.20,6.93
551,Soyo,100,AO,1587065547,86,-6.13,12.37,80.69,7.36
552,Luena,43,AO,1587065547,61,-11.78,19.92,65.28,1.19

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"].astype(float)

In [5]:
max_intensity = weather_data["Humidity"].max()

In [6]:
# Plot Heatmap
fig = gmaps.figure(center=(25,0), zoom_level=1.75)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_intensity)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
ideal_temp = weather_data[weather_data["Max Temp"] > 70]
ideal_temp = ideal_temp[ideal_temp["Max Temp"] < 80]
ideal_temp

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
4,Hilo,90,US,1587065369,78,19.73,-155.09,73.99,6.93
7,Socorro,40,US,1587065370,12,31.65,-106.30,75.20,14.99
13,Isangel,78,VU,1587065371,82,-19.55,169.27,77.95,17.09
14,Merced,1,US,1587065371,43,37.17,-120.75,75.20,4.70
19,Samarai,56,PG,1587065373,84,-10.62,150.67,79.90,5.61
...,...,...,...,...,...,...,...,...,...
522,Chimbote,9,PE,1587065540,63,-9.09,-78.58,77.68,13.98
540,Ruwi,40,OM,1587065545,94,23.60,58.55,78.80,3.36
542,Itarema,46,BR,1587065545,87,-2.92,-39.92,79.14,7.23
544,MatelÃ¢ndia,0,BR,1587065546,40,-25.24,-54.00,77.00,8.05
546,NizwÃ¡,10,OM,1587065546,35,22.93,57.53,77.23,1.01

In [8]:
ideal_wind = ideal_temp[ideal_temp["Wind Speed"] < 10]
ideal_wind

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
4,Hilo,90,US,1587065369,78,19.73,-155.09,73.99,6.93
14,Merced,1,US,1587065371,43,37.17,-120.75,75.20,4.70
19,Samarai,56,PG,1587065373,84,-10.62,150.67,79.90,5.61
24,Labuhan,65,ID,1587065374,81,-6.88,112.21,79.99,2.68
37,Vaini,75,TO,1587065377,88,-21.20,-175.20,75.20,3.36
...,...,...,...,...,...,...,...,...,...
518,Umluj,19,SA,1587065539,36,25.02,37.27,78.53,6.02
540,Ruwi,40,OM,1587065545,94,23.60,58.55,78.80,3.36
542,Itarema,46,BR,1587065545,87,-2.92,-39.92,79.14,7.23
544,MatelÃ¢ndia,0,BR,1587065546,40,-25.24,-54.00,77.00,8.05
546,NizwÃ¡,10,OM,1587065546,35,22.93,57.53,77.23,1.01

In [9]:
ideal_destination = ideal_wind[ideal_wind["Cloudiness"] == 0]
ideal_destination

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
47,Castro,0,BR,1587065380,27,-24.79,-50.01,70.45,4.94
270,General Pico,0,AR,1587065450,42,-35.66,-63.76,72.34,9.26
281,Mossamedes,0,AO,1587065453,63,-15.20,12.15,74.61,4.54
392,Sittwe,0,MM,1587065493,84,20.15,92.90,77.76,3.78
460,Kondagaon,0,IN,1587065525,37,19.60,81.67,75.85,4.79
544,MatelÃ¢ndia,0,BR,1587065546,40,-25.24,-54.00,77.00,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = ideal_destination.copy()
hotel_df = hotel_df.reset_index()
del hotel_df["index"]
hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Castro,0,BR,1587065380,27,-24.79,-50.01,70.45,4.94,
1,General Pico,0,AR,1587065450,42,-35.66,-63.76,72.34,9.26,
2,Mossamedes,0,AO,1587065453,63,-15.20,12.15,74.61,4.54,
3,Sittwe,0,MM,1587065493,84,20.15,92.90,77.76,3.78,
4,Kondagaon,0,IN,1587065525,37,19.60,81.67,75.85,4.79,
5,MatelÃ¢ndia,0,BR,1587065546,40,-25.24,-54.00,77.00,8.05,

In [11]:
lat = hotel_df["Lat"]
long = hotel_df["Lng"]

In [12]:
# https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY

In [13]:
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {
#     "location": f"{lat[5]},{long[5]}", 
#     "radius": 50000,
#     "type": "lodging",
#     "key": g_key,
# }

In [14]:
# response = requests.get(base_url, params=params).json()

# results = response['results']

# pprint(results)
# hotel_df.loc[hotel_df["City"] == hotel_df["City"][0], "Hotel Name"] = results

In [15]:
range_x = len(hotel_df)

In [16]:
for x in range(range_x):
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": f"{lat[x]},{long[x]}", 
        "radius": 5000,
        "type": "lodging",
        "keyword": "Hotel",
        "key": g_key,
    }
    response = requests.get(base_url, params=params).json()
    

    try:
        # extract results
        results = response["results"][0]["name"]
        print(f"The closest hotel is {results}.")
        hotel_df.loc[hotel_df["City"] == hotel_df["City"][x], "Hotel Name"] = results        
        # hotel_df["Hotel Name"][0] = results[1]['name']
    except (IndexError):
        print("No lodging options within 5000 meters... skipping.")
    print("----------")

The closest hotel is Hotel Buganville Express.
----------
The closest hotel is Euskadi Hotel.
----------
The closest hotel is Hotel ibis Styles Iu Namibe.
----------
The closest hotel is Hotel Memory.
----------
The closest hotel is Hotel Sai Palace.
----------
The closest hotel is Hotel Faeli.
----------

In [17]:
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
hotel_df = hotel_df.reset_index()
del hotel_df["index"]

In [18]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Castro,0,BR,1587065380,27,-24.79,-50.01,70.45,4.94,Hotel Buganville Express
1,General Pico,0,AR,1587065450,42,-35.66,-63.76,72.34,9.26,Euskadi Hotel
2,Mossamedes,0,AO,1587065453,63,-15.20,12.15,74.61,4.54,Hotel ibis Styles Iu Namibe
3,Sittwe,0,MM,1587065493,84,20.15,92.90,77.76,3.78,Hotel Memory
4,Kondagaon,0,IN,1587065525,37,19.60,81.67,75.85,4.79,Hotel Sai Palace
5,MatelÃ¢ndia,0,BR,1587065546,40,-25.24,-54.00,77.00,8.05,Hotel Faeli

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display Map
fig

Figure(layout=FigureLayout(height='420px'))